html,body { margin:0; padding:0; width:100%;}
body{font-size:12px;font-family: "微软雅黑"; color:#2d2d2d; background-color: #f5f5f5;line-height:100%; center top repeat-x #FFF; height:100%;}

img
{
  margin:0px;
  border:0px;
}

hr
{
  margin:0px;
  border:0px;
  height:1px;
  color:#e3e3e3;
}

#images
{
  text-align:center;
}
#images img
{
  height:172px;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.div-term
{
  background-color: #ffffff;
  height:48px;
}

#term
{
  line-height:48px;
  color:#ff6722;
  padding-left:18px;
  padding-right:18px;
}

.div-content
{
  background-color: #ffffff;
}

#content
{
  line-height:18px;
  padding:18px;
  color:#7f7f7f;
  font-size:15px;
}

.div-storefronts
{
  margin-top:14px;
  margin-left:8px;
  margin-right:8px;
  margin-bottom:14px;
}

.div-storefronts-title
{
  padding-left:10px;
  padding-right:10px;
  height:33px;
  line-height:33px;
  background-color:#ffffff;
}

#storefrontsImg
{
  width:15px;
  height:15px;
}

#storefrontsTitle
{
  margin-left:2px;
  font-size:15px;
}

.div-storefront
{
  padding-left:10px;
  padding-right:10px;
  background-color:#ffffff;
  height:65px;
}

.div-storefront-name
{
  padding-top:18px;
  font-size:15px;
  color:#2d2d2d;
}

.div-storefront-addr
{
  font-size:12px;
  color:#7f7f7f;
  margin-top:6px;
}
