html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,code,em,img,q,small,strong,dd,dl,dt,li,ol,ul,fieldset,form,label,table,tbody,tr,th,td,input {
	margin: 0;
	padding: 0
}

body {
	font-size: 12px;
	font-family: "Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft Yahei",Tahoma,Arial,STHeiti,sans-serif;
	_font-family: Tahoma,Arial,Helvetica,STHeiti,sans-serif;
	cursor: default
}

html.hasFontSmoothing-false body {
	font-family: Tahoma,Arial,Helvetica,STHeiti
}

a img,:link img,:visited img {
	border: 0
}

table {
	border-collapse: collapse
}

ul {
	list-style: none
}

q:before,q:after,blockquote:before,blockquote:after {
	content: ""
}

body {
	background: #f8f8f8;
	color: #222;
	text-align: center;
	font-size: 14px;
	min-height: 600px
}

::selection {
	background: #d9342a;
	color: #FFF
}

.wrapper {
	text-align: left;
	margin: 0 auto;
	width: 960px
}

.clearfix:after {
	display: block;
	content: "\u0020";
	visibility: hidden;
	clear: both;
	height: 0
}

.clearfix {
	zoom: 1
}

a {
	text-decoration: none
}

body {
	background: #fff
}

.home-wrapper {
	width: 100%;
	height: 580px;
	background: #ff6722
}

.home-wrapper .home-holder {
	width: 820px;
	margin: 0 auto;
	position: relative
}

.home-wrapper .top-nav {
	float: right;
	padding-top: 60px
}

.home-wrapper .top-nav a {
	display: block;
	width: 98px;
	height: 25px;
	color: white;
  font-size:18px
}

.home-wrapper .logo {
	float: left;
	padding-top: 170px
}

.home-wrapper .logo a {
	background-image: url('../imgs/logo_03.png');
	background-repeat: no-repeat;
	display: block;
	float: left;
	width: 390px;
	height: 100px;
	text-indent: -9999px
}

.home-wrapper .list {
	display: block;
	float: right;
	height: 67px;
	margin-left: 40px;
	font-size: 16px;
	color: #fff;
	line-height: 67px
}

.home-wrapper .hot-post {
	display: block;
	float: right;
	height: 67px;
	margin-left: 40px;
	font-size: 16px;
	color: #fff;
	line-height: 67px;
	cursor: pointer
}

.home-wrapper .micro-video {
	display: block;
	float: right;
	height: 67px;
	margin-left: 40px;
	font-size: 16px;
	color: #fff;
	line-height: 67px
}

.home-wrapper .slide-content {
	width: 400px;
	float: left;
	clear: left;
	margin-top: 50px
}

.home-wrapper .slide-content .download {
	float: left;
	margin-top: 40px
}

.home-wrapper .slide-content .download .download-holder {
	float: left;
	width: 200px;
	height: 184px;
	position: relative
}

.home-wrapper .slide-content .download .download-holder .iphone {
	display: block;
	position: relative;
	width: 199px;
	height: 50px;
	text-indent: -9999px;
	margin-bottom: 10px;
	z-index: 20;
	background-image: url('../imgs/btn_download_iphone.png');
	background-repeat: no-repeat
}

.home-wrapper .slide-content .download .download-holder .iphone:hover {
	background-image: url('../imgs/btn_download_iphone_sel.png');
}

.home-wrapper .slide-content .download .download-holder .android {
	display: block;
	position: relative;
	width: 199px;
	height: 50px;
	text-indent: -9999px;
	margin-top: 30px;
	z-index: 20;
	background-image: url('../imgs/btn_download_android.png');
	background-repeat: no-repeat;
}

.home-wrapper .slide-content .download .download-holder .android:hover {
	background-image: url('../imgs/btn_download_android_sel.png');
}

.home-wrapper .slide-content .qr-code {
	display: block;
	float: left;
	width: 130px;
	height: 130px;
	margin-top: 4px;
	margin-left: 31px;
	background: url('../imgs/qr.png') no-repeat 0 0;
	text-indent: -9999px
}

.home-wrapper #slideshow {
	position: absolute;
	width: 207px;
	height: 367px;
	left: 453px;
	top: 190px
}


.home-wrapper #slideshow img {
	position: absolute;
	top: -2px;
	left: 1px;
	z-index: 10;
	opacity: 1.0
}

.home-wrapper .gallery {
	position: absolute;
	width: 419px;
	height: 522px;
	right: -24px;
	top: 110px;
	background: url('../imgs/gallery.png') no-repeat 0 0
}

.seprate {
	width: 920px;
	height: 1px;
	margin: 120px auto;
	background: url('../imgs/line-sprites.png') repeat-x 0 -161px;
	border: 0
}

.footer-container {
	width: 1000px;
	clear: both;
	margin: 0 auto;
	padding: 5px 0 15px 0;
	position: relative
}

.footer-container .footer {
	width: 920px;
	height: 20px;
	margin: 0 auto;
	padding-top: 14px;
	border-top: 1px solid #e8e8e8;
	text-align: center;
	line-height: 16px;
	font-size: 12px;
	color: #ada9a8
}

.footer-container .footer a {
	color: #ada9a8;
	text-decoration: none
}

.footer-container .footer span {
	cursor: pointer
}
