@charset "utf-8";
html,body { margin:0; padding:0; width:100%;}
body{font-size:12px;font-family: "微软雅黑"; color:#333; line-height:160%; background: url(../images/login-bg.jpg) center top repeat-x #FFF; height:100%;}

p,ul,li,dd,h1,h2,h3,form,input,select,textarea{margin:0; padding:0; border:0;font-family:"微软雅黑"; line-height:150%;}
ul,li{list-style:none;}
div,p{word-wrap: break-word;}
input,button,select,textarea{outline:none}

/*form*/
.text{border:1px solid #CCC; padding:5px; background-color:#FCFCFC; line-height:14px; width:220px; font-size:12px; -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow: #CCC 0px 0px 5px;-moz-box-shadow: #CCC 0px 0px 5px;box-shadow: #CCC 0px 0px 5px;}
.text:focus{border:1px solid #31b6e7; background-color:#FFF;-webkit-box-shadow: #CCC 0px 0px 5px;-moz-box-shadow: #CCC 0px 0px 5px;box-shadow: #0178a4 0px 0px 5px; }
.text:hover{ background-color:#FFF; }

input.submit{border:none; font-weight:bold;color:#FFF; margin-top:5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow: #CCC 0px 0px 5px;-moz-box-shadow: #CCC 0px 0px 5px;box-shadow: #CCC 0px 0px 5px;background: #31b6e7; cursor: pointer; padding:6px 20px;}
input.submit:hover{ background:#ff9229;}

.error{margin-bottom:-10px;}
.visi{visibility:hidden;}

/*login*/
.login{ position:relative; z-index:10; padding:1px 0 0 0;}
.login .menus{ position:absolute; top:0; left:0; width:100%; height:40px;}
.login .menus .public{ text-align:right; padding-right:30px;}
.login .menus .public a{ display:inline-block; line-height:38px; color:#EEE; font-size:14px; padding:0 15px; border-right:1px solid #666;}
.login .menus .public a:hover{ background:#555;}
.login .box{position:relative;z-index:100; margin:150px auto; width:700px; height:320px; background:url(../images/login.png) center top no-repeat;}
.login form{position:relative;width:370px; height:260px;margin:10px auto; padding:0 0 0 20px;}
.login .header{ height:85px;}
.login .header .logo{ position:absolute; top:25px; left:20px; /*background:url(../images/logo-login.png) no-repeat;*/ width:245px; height:50px;}
.login .alt{ position:absolute; top:43px; left:260px;font-size:20px;}
.login label{ display:inline-block; width:70px; text-align:right; padding-right:20px; vertical-align:middle;}
.login li{padding:10px 5px; font-size:14px;}
.login .text{filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;}
.login .copyright{ position:absolute; left:0; width:100%; bottom:-40px; text-align:center; color:#AAA}
.login .copyright a{color:#AAA;text-decoration: none}
.login .submits{ text-align:center}
.login .footer{ position: fixed; left:0; bottom:0; z-index:-1; width:100%; height:198px; background:url(../images/login-foot.jpg) center bottom repeat-x;}




